html, body{
    height: 100%;
}

body {
    background-color: #505254;
}

#mainHeader{
    height: 5%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.mainBarBtn{
    border-radius: 50%;
    margin-top: 6px;
    height: 20px;
    width: 20px;
    -webkit-app-region: no-drag;
}

#root{
    height: 95%;
}

#mainNav{
    height: 40px;
    font-size: 20px;
}

#mainNav ul li a.nav-link{
    width: 140px;
}

#mainNav ul li a.nav-link:hover{
    border-bottom: 4px solid blue;
}

.clicked{
    border-bottom: 4px solid blue;
    color: rgba(255,255,255,.75) !important;
}
