<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Controle de Estoque</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body id="body" class="container-fluid">

  <header id="mainHeader" class="row bg-dark">
    <p class="col-sm-3 offset-5 text-white font-weight-bold">Controle de Estoque</p>
    <div class="offset-3 col-sm-1 d-flex justify-content-end">
      <button class="btn btn-sm btn-warning rounded-circle mainBarBtn" type="button" id="minimizeButton">
          <i class="fas fa-minus mainBar text-white"></i>
      </button>
      <button class="btn btn-sm btn-danger rounded-circle mainBarBtn ml-1" type="button" id="closeButton">
          <i class="fas fa-times mainBar"></i>
      </button>
    </div>
  </header>

  <div class="row" id="root"></div>
</body>

<script src="../js/renderer/index.js"></script>
</html>