  <header>
    <nav id="nav">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#" class="nav-link" onclick="products.removerProdutos()">
            Remover produtos
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" onclick="products.adicionarProdutos()">
            Adicionar produtos
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" onclick="products.cadastrarProdutos()">
            Cadastrar produtos
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link" onclick="products.configuracoesUsuario()">
            Configurações de usuário
          </a>
        </li>
      </ul>

    </nav>
  </header>

  <main id="main"></main>
