  <div class="container-fluid">
      <header class="row">
        <nav class="col-12 navbar navbar-expand navbar-dark bg-dark justify-content-around font-weight-bold fixed-top" id="mainNav">

          <ul class="navbar-nav" style="padding-bottom: 11px">

            <li class="nav-item">
              <a href="#" class="nav-link d-flex justify-content-center" onclick="mainPage.stock()" id="mainPageStock"
              title="Todas as operações de estoque. Permite a consulta, adição e remoção de produtos e lotes do estoque.">
                Estoque
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link d-flex justify-content-center" onclick="mainPage.reports()" id="mainPageReports"
              title="Mostra as entradas, estoque e saídas. Se um ou mais campos forem preenchidos, os botões de entrada, estoque e saída realizam pesquisas baseadas nos termos passados">
                Relatórios
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link d-flex justify-content-center" onclick="mainPage.userConfigs()" id="mainPageUserConfigs"
              title="Permite alteração de senha e logout. Recomenda-se o logout quando não estiver usando o computador">
                Usuário
              </a>
            </li>

          </ul>

        </nav>
      </header>
      <main class="row">
        <div class="col-10 offset-1" id="main"></div>
      </main>
  </div>

  <script>
    $('#main').on('load', mainPage.stock())
  </script>