<div>
  <h1 class="display-4">Cadastrar Produtos</h1>
</div>
<div>
  <form>
    <div class="form-group">
      <label for="addCode">Código</label>
      <input class="form-control" type="text" name="addCode" id="addCode">
    </div>
    <div class="form-group">
      <label for="addName">Produto</label>
      <input class="form-control" type="text" name="addName" id="addName">
    </div>
    <div class="form-group">
      <label for="addLot">Lote</label>
      <input class="form-control" type="text" name="addLot" id="addLot">
    </div>
    <div class="form-group">
      <label for="addValidity">Validade</label>
      <input class="form-control" type="date" name="addValidity" id="addValidity">
    </div>
    <div class="form-group">
      <label for="addUnit">Unidade</label>
      <input class="form-control" type="text" name="addUnit" id="addUnit">
    </div>
    <div class="form-group">
      <label for="addAmount">Quantidade</label>
      <input class="form-control" type="number" name="addAmount" id="addAmount">
    </div>
    <!-- <div class="form-group">
      <label for="addInputUser">Usuário</label>
      <input class="form-control" type="text" name="addInputUser" id="addInputUser">
    </div> -->
    <button class="btn btn-primary" type="button" id="addProductsDb">Cadastrar</button>
    <small class="text-danger" id="addProductsFail"></small>
    <small class="text-success" id="addProductsSuccess"></small>
  </form>
</div>
<script src="../js/renderer/registerProducts.js"></script>