<div class="container">

  <div class="row mb-5">
    <div class="col">
      <h1 class="display-4">Configurações de usuário</h1>
    </div>
  </div>

  <div class="row mb-2">
    <div id="userInfo"></div>
  </div>

  <div class="row mb-2">
    <button class="btn btn-primary" onclick="changePassword()">Alterar Senha</button>
  </div>

  <div class="row mb-2">
    <button class="btn btn-danger" onclick="logout()">Logout</button>
  </div>
  
</div>
<div class="container mt-3" id="passwordFields"></div>
</div>

<script src="../js/renderer/user.js"></script>
